@use "variables" as v;

@mixin telefono{
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet{
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktop-grande{
    @media (min-width: v.$desktop-grande) {
        @content;
    }
}

@mixin contenedor {
    max-width: 100rem;
    margin: 0 auto;
    width: 90%;
}

@mixin grid($columna, $grab) {
    display: grid;
    gap: $grab;
    grid-template-columns: repeat($columna, 1fr);
}