$azul-suave: #4A90E2;
$verde-menta: #A2D5AB;
$gris-claro: #F5F5F5;
$gris-oscuro: #333333;
$naranja: #F5A623;
$verde-suave: #66b3b3;
$blanco: #FFFFFF;

$fuente: "Open Sans", sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;