.presentacion {
    background-image: url('../../../src/img/Fondo-presentacion.jpg');
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 10rem 2rem;
}